* {
  font-family: sans-serif;
}

body {
  background-color: #87ae73;
}

header {
  font-family: Georgia, serif;
  text-align: center;
}

.list {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.chores {
  text-align: center;
}

.completed {
  text-align: center;
  margin-top: 5rem;
}

.text {
  font-size: 1.2rem;
}

footer {
  font-size: 0.7rem;
  text-align: right;
}
